.page {
  background: #0f172a;
  min-height: 100vh;
  padding: 40px;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 1100px;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

.inputBox {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px 20px;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card h2 {
  margin-bottom: 10px;
  color: #60a5fa;
}